<h1 class = 'jumbotron'>WELCOME TO PRETTY-GOOD BURGER, HOME OF THE PRETTY-GOOD BURGER!</h1>
<div class = 'top'>
    <label><strong>Enter New Hamburger</strong></label>
    <br>
    <input id = 'newBurger' type = 'text' style = 'width: 50em;' >
    <button id = 'addBurger' class = 'btn btn-sm btn-primary' type = 'submit'>
        Add Hamburger
    </button>
</div>

<hr>

<div id = 'undev' class = 'card'>
    <div class = 'card-body'>
        <div class = 'card-title'>
            <h2>Undevoured Burgers!</h2>
        </div>
        <hr>
        <div class = 'card-text'>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{>burgers/burger-block-interactive devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div id = 'dev' class = 'card'>
    <div class = 'card-body'>
        <div class = 'card-title'>
            <h2>Devoured Burgers!</h2>
        </div>
        <hr>
        <div class = 'card-text'>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{>burgers/burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
